.nav {
  background-color: rgb(3, 42, 54);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: flex-start;
}

.navRight {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
